<h1> GENINHA CARE </h1>
<h2> Psychological Care</h2>

<h3>Schudule your sessions</h3>

<ul>
    <% @sessions.each do |session| %>
        <li>
            <%=link_to session.title, session %>
        </li>
    <% end%>
</ul>

